---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },

    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await post.render();

const {
  post: {
    data: { title, date },
    body,
  },
} = Astro.props;
---

<BaseLayout title={post.data.title}>
  <article class="prose prose-invert max-w-3xl mx-auto p-2">
    <hr />
    <h1>{post.data.title}</h1>
    <p>Published: {date.toLocaleDateString("en-US", { timeZone: "UTC" })}</p>
    <hr />

    <Content />
  </article>
</BaseLayout>
