<header>
  <nav>
    <div class="nav-wrapper flex max-w-3xl mx-auto py-4 px-2">
      <a href="/" class="font-semibold">Pages CMS + Astro</a>
      <ul class="ml-auto flex gap-4">
        <a href="/posts">Posts</a>
      </ul>
    </div>
  </nav>
</header>
