<section class="section">
  <h1>Home Page</h1>

  <div class="link"><a href="/">Link to blog page</a></div>
  <div class="link"><a href="/">Link to blog post</a></div>
</section>

<style>
  h1 {
    margin: 0;
  }

  .section {
    padding-inline: 1rem;
  }

  .link {
    margin-bottom: 1rem;
  }
</style>
